
body {
  color: #222;
  font-size: 18px;
  line-height: 1.4;
  font-family: sans-serif;
  text-align: center;
}
body h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
body img {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  max-height: 100%;
}
 .for-who .why-us .testimonials {
   margin: 0 35px 0 35px;
 }
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}



audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  text-align: center;
}



fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}



textarea {
  resize: vertical;
}


.invisible {
  visibility: hidden;
}


/* Kogo szukamy */

.for-who {
  margin: 35px 35px 0 35px;
}

.logo-Squiz {
  font-size: 26px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-style: normal;
}

/*Dlaczego my*/


.why-us  {
  margin: 0 35px 0 35px;
}

.why-us h2 {
  text-align: center;
  font-size: 30px;
  font-style: normal;
}

/*Opinie absolwentów*/


.testimonials {
  margin: 0 35px 0 35px;
}
.testimonials p {
  text-align: center;
  font-size: 32px;
}

/*Kontakt*/


.Container-blue {
  background-color: #001B48;
  margin: 0 0 0 0;
  width: 100%;
}
.Container-blue h2 {
color: #ccc; 
}
.Container-blue p {
  color: aliceblue;
  text-align: center;
}


/*footer*/

.row {
  background-color: #001B48;
  color: #ccc; 
}
